[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
[Ll]ogs/
UserSettings/
MemoryCaptures/
PlasticSCM/
.plastic/
.idea/
*.sln.iml
UnityGenerated/
UnityPackageManager/
Assets/AddressableAssetsData/*/*.bin*
Assets/StreamingAssets/aa/*
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
UnityCache/
*.unitypackage
Assets/**/Lightmap-*/
Assets/**/LightProbes-*/
Assets/**/ReflectionProbe-*/
Assets/**/GlobalIllumination/*
Assets/**/LightingData.asset
Assets/**/LightingData.asset.meta
Assets/**/LightingSettings.asset
Assets/**/TerrainData/
*.apk
*.aab
*.obb
*.ipa
*.dsym.zip
*.dsym
sysinfo.txt
Thumbs.db
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride
*~
.vscode/
.idea/
*.dotCover
bin/
obj/
*.exe
*.dll
*.cache
*.log
Assets/TextMesh Pro/**/Sprite Asset/*.asset
Assets/TextMesh Pro/**/Sprite Asset/*.meta
